<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{$PageTitle$}</title>
<link rel="stylesheet" rev="stylesheet" href="{$InstallDir$}{$TemplatePath$}images/51div.css" type="text/css"/>
<script type="text/javascript" src="{$InstallDir$}js/prototype.js"></script>
<script type="text/javascript" src="{$InstallDir$}js/js.js"></script>
<script type="text/javascript" src="{$InstallDir$}js/Nav.js"></script>
<script language="javascript">
//下拉菜单参数
//如使用系统自带下拉菜单，则必须有该段代码
//整个导航条背景色，为空则透明
mmenubg='efefef';
//弹出菜单项目背景色
mmenucolor='#eeeeee';
//字体颜色
mfontcolor='#4e4e4e';
//鼠标指到菜单项目的背景色
mmenuoutcolor='#aaaaaa';
//一级项目被打开后背景色
mmenuincolor='#aaaaaa';
//下拉弹出菜单的上两边颜色
mmenuoutbordercolor='#ffffff';
//下拉弹出菜单的下两边颜色
mmenuinbordercolor='#444444';
mmidoutcolor='#CCCCFE';
mmidincolor='#CCCCFE';
mmenuovercolor='#FFFFFF';
mitemedge='0';msubedge='1';
mmenuunitwidth=66;
mmenuitemwidth=120;
mmenuheight=20;
mmenuwidth='100%';
mmenuadjust=0;
mmenuadjustV=0;
mfonts='font-family:宋体; font-size: 9pt; color: #4e4e4e;';
mcursor='hand';
//下拉菜单参数结束
</script>