<html>
<head>
{$MY_head区$}
</head>
<body id="Channel0">
<div id="wrap">
{$MY_网站顶部$}
  <div class="left">
    <div class="leftbox_1"><h2>用户控制面板</h2></div>
    <div class="leftbox_2">
		<div class="login">{$LoginBar$}</div>
    </div>
    <div class="leftbox_3"></div>
  </div>
 <div id="content"> 
	<div class="article_list">
		<div class="title_list"><h3>{$Title$}</h3></div>
		<div class="yzxx">添加时间：{$AddDate$}</div>
		<div class="content_zw">
			{$Content$}
		</div>
	</div>
 </div>
{$MY_网站底部$}
</div>
<div id="footer_1"></div>

</body>
</html>